.m-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
    caret-color: transparent;
}

.m-button:disabled {
    background-color: #999;
    border-color: #999;
    color: #fff;
    cursor: auto;
}

.btnArea {
    margin: -10px -10px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.btnArea__item {
    margin: 10px 10px 0 0;
}

@keyframes btnJumpAnimation {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.m-button:not(:disabled) {
    animation-name: btnJumpAnimation;
    animation-duration: .5s;
    animation-delay: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@media screen and (min-width: 600px) {
    .m-button {
        padding: 10px 15px;
        transition: background-color .3s, color .3s, border-color .3s;
    }

    .m-button:hover:not(:disabled),
    .m-button:focus:not(:disabled) {
        color: #fff;
        border-color: #ed2828;
        background-color: #ed2828;
    }
}