::placeholder {
    color: #999;
}

.m-textInput {
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    cursor: pointer;
}

.m-textInput + .m-textInput {
    margin-top: 15px;
}

.m-textInput:focus {
    background-color: rgb(150, 145, 145);
}

.textInput__input {
    padding: 5px;
    width: 100%;
    display: block;
    border: 1px solid #333;
    border-radius: 5px;
    transition: border-color .3s;
    caret-color: #ed2828;
}

.textInput__input:focus {
    border-color: #ed2828;
}

textarea.textInput__input {
    height: 36px;
    min-height: 36px;
    resize: vertical;
}

.textInput__label {
    width: 100%;
    max-width: 250px;
    display: block;
    transition: color .3s;
    flex-shrink: 0;
}

.textInput__input:focus + .textInput__label {
    color: #ed2828;
}