.goalPanelArea {
    margin: 30px 0;
}

.goalPanelArea__item + .goalPanelArea__item {
    margin: 15px 0 0;
}

.goalInputArea {
    margin: 0 0 30px;
}

.goalBtnArea {
    margin: -10px -10px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.goalBtnArea__item {
    margin: 10px 10px 0 0;
}
