.l-contentsArea {
    height: 100%;
}

.contentsArea__inner {
    padding: 15px 15px 30px;
}

.contentsArea__inner > *:first-child {
    margin-top: 0 !important;
}

.contentsArea__inner > *:last-child {
    margin-bottom: 0 !important;
}
