.l-contentsArea {
    height: 100%;
}

.contentsArea__inner {
    padding: 70px 15px 30px;
}

.contentsArea__inner > *:first-child {
    margin-top: 0 !important;
}

.contentsArea__inner > *:last-child {
    margin-bottom: 0 !important;
}

@media screen and (min-width: 600px) {
    .contentsArea__inner {
        padding-top: 15px;
    }
}
