.l-header {
    width: 100%;
    border-bottom: 2px solid #ed2828;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
