.l-sideNav {
    padding: 0;
    position: relative;
}

.l-sideNav::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ed2828;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sideNav__list {
    display: flex;
    justify-content: center;
}

.sideNav__listItem a {
    padding: 15px;
    width: 100%;
    display: block;
}

.sideNav__listItem + .sideNav__listItem {
    border-top: 2px solid #ed2828;
}

@media screen and (min-width: 600px) {
    .l-sideNav {
        padding: 0 2px 0 0;
    }

    .l-sideNav::after {
        width: 2px;
        height: 100%;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
    }

    .sideNav__list {
        display: block;
        border-bottom: 2px solid #ed2828;
    }

    /* current表示 */
    .sideNav__listItem.is-current a::before {
        transform: translateX(0);
    }

    .sideNav__listItem.is-current a span {
        color: #fff;
    }

    .sideNav__listItem a {
        overflow: hidden;
        position: relative;
    }

    .sideNav__listItem a::before {
        content: "";
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform .3s;
        background-color: #ed2828;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sideNav__listItem a:hover::before,
    .sideNav__listItem a:focus::before {
        transform: translateX(0);
    }

    .sideNav__listItem a span {
        transition:  color .3s;
        position: relative;
        z-index: 1;
    }

    .sideNav__listItem a:hover span,
    .sideNav__listItem a:focus span {
        color: #fff;
    }
}