.m-suspence {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suspence__inner {
    font-size: 20px;
    position: relative;
}

@keyframes loadingSuspence {
    0% {
        transform: translateX(30px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(30px);
    }
}

.suspence__inner::after {
    content: "";
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ed2828;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;

    animation-name: loadingSuspence;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
