.App {
  padding: 30px;
}

/* TextInput */
.textInput + .textInput {
  margin: 15px 0 0;
}

.textInput .textInput__inner .textInput__label {
  min-width: 100px;
  flex-shrink: 0;
  display: inline-block;
}

/* Btn */
.btn {
  margin: 15px 0 0;
}
